---
import MainLayout from '../layouts/MainLayout.astro';

const articles = Object.values(
  import.meta.glob('../content/histoire/*.md', {
    eager: true,
  })
).sort((a: any, b: any) => {
  const numA = parseInt(a.file.match(/partie(\d+)/)?.[1] ?? 0);
  const numB = parseInt(b.file.match(/partie(\d+)/)?.[1] ?? 0);

  return numA - numB;
});

console.log(articles);
console.log("TOTAL :", articles.length);
---

<MainLayout title="L'histoire de la Team">

 <section class="mt-16 mb-12">
    <h1 class="text-4xl md:text-5xl font-bold tracking-tight">
      L'histoire de la D-BonZ Team
    </h1>

    <p class="mt-6 text-lg text-zinc-300 leading-8 max-w-4xl">
      Pendant près de dix ans, la D-BonZ Team a évolué sur
      <strong>Counter-Strike: Source</strong>. Cette rétrospective retrace
      l'histoire de la team, de sa création en 2005 jusqu'à ses dernières
      années, au travers de souvenirs et d'anecdotes.
    </p>

    <p class="mt-4 text-zinc-400 leading-7 max-w-4xl">
      Cette archive n'a pas la prétention de raconter toute l'histoire en détail, mais simplement de préserver la mémoire d'une équipe
      de joueurs passionnés qui ont partagé des milliers d'heures ensemble.
      Bonne lecture !
    </p>
  </section> 

<div class="grid gap-8 mt-12">
  {
    articles.map((article: any) => {
      const slug = article.file
        .split('/')
        .pop()
        .replace('.md', '');

      return (
        <a
          href={`/histoire/${slug}`}
          class="group block bg-zinc-900/80 hover:bg-zinc-900 transition border border-zinc-800 hover:border-zinc-700 rounded-2xl p-8"
        >
          <h2 class="text-2xl font-bold group-hover:text-white">
            {article.frontmatter.title}
          </h2>

          <p class="text-zinc-400 mt-3 leading-relaxed">
            {article.frontmatter.description}
          </p>
        </a>
      );
    })
  }
</div>
</MainLayout>