---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="Legacy Team">

  <section class="mt-24 grid md:grid-cols-2 gap-6">
    <div class="bg-zinc-900 p-6 rounded-2xl border border-zinc-800">
      <h3 class="text-xl font-bold">Qui étions nous ?</h3>
      <p class="text-zinc-400 mt-4">La team D-BonZ était une team qui a principalement évolué sur le jeu Counter-Strike : Source. La team a existé de 2005 à environ 2015. Les D-BonZ était une team fun mais compétitive. Ce site a pour but de laisser une trace en racontant l'histoire de la team.</p>
    </div>

    </div>
  </section>
</MainLayout>
